
 body {

    background-color: rgb(141, 141, 199);

 }

 h1{

    color: rgb(209, 176, 176);
 }

 h2{

    color: rgb( 209,176,176);

 }


 p{

    text-size-adjust: justified, font-size arial, helvetica;
 }